!------------------------------------------------------------------------
! You need to reload .Xresources with
! xrdb -remove ~/.Xresources ; xrdb -merge ~/.Xresources
!------------------------------------------------------------------------

!------------------------------------------------------------------------
! xterm
!------------------------------------------------------------------------
!xterm*utf8: 1
!xterm*locale: true
!xterm*foreground: black
!xterm*background: gray90
xterm*foreground: white
xterm*background: black
xterm*ScrollBar: true
xterm*rightScrollBar: true
xterm*font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso10646-1
!xterm*faceName: Terminus:pixelsize=14
!!enable copy (cf. paste: Shift+Insert)
xterm*selectToClipboard: true
!xterm*allowSendEvents: true

!------------------------------------------------------------------------
! tgif
!------------------------------------------------------------------------
Tgif.FontSizes: 8 9 10 11 12 13 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 55 60 65 70 75 80 90 100 150 200 250 300 400 500 600 700 800
Tgif.DefaultColorIndex: 9

Tgif.DoubleByteInputMethod:    kinput2
Tgif.PreeditType:              overthespot
Tgif.ConvSelection:            _JAPANESE_CONVERSION
Tgif.Lang:                     ja_JP.ujis
Tgif.WhereToPrint:             PS

Tgif.MaxColors: 549
Tgif.Color0: magenta
Tgif.Color1: red
Tgif.Color2: green
Tgif.Color3: blue
Tgif.Color4: yellow
Tgif.Color5: pink
Tgif.Color6: cyan
Tgif.Color7: CadetBlue
Tgif.Color8: white
Tgif.Color9: black
!
Tgif.Color10: #000000
Tgif.Color11: #ff0000
Tgif.Color12: #ff0020
Tgif.Color13: #ff0040
Tgif.Color14: #ff0060
Tgif.Color15: #ff0080
Tgif.Color16: #ff00a0
Tgif.Color17: #ff00c0
Tgif.Color18: #ff00e0
Tgif.Color19: #ff00ff
Tgif.Color20: #202020
Tgif.Color21: #ff4000
Tgif.Color22: #f83820
Tgif.Color23: #f03040
Tgif.Color24: #e82860
Tgif.Color25: #e02080
Tgif.Color26: #d818a0
Tgif.Color27: #d010c0
Tgif.Color28: #c808e0
Tgif.Color29: #c000ff
Tgif.Color30: #404040
Tgif.Color31: #ff8000
Tgif.Color32: #f07020
Tgif.Color33: #e06040
Tgif.Color34: #d05060
Tgif.Color35: #c04080
Tgif.Color36: #b030a0
Tgif.Color37: #a020c0
Tgif.Color38: #9010e0
Tgif.Color39: #8000ff
Tgif.Color40: #606060
Tgif.Color41: #ffc000
Tgif.Color42: #e8a820
Tgif.Color43: #d09040
Tgif.Color44: #b87860
Tgif.Color45: #a06080
Tgif.Color46: #8848a0
Tgif.Color47: #7030c0
Tgif.Color48: #5818e0
Tgif.Color49: #4000ff
Tgif.Color50: #808080
Tgif.Color51: #ffff00
Tgif.Color52: #e0e020
Tgif.Color53: #c0c040
Tgif.Color54: #a0a060
Tgif.Color55: #808080
Tgif.Color56: #6060a0
Tgif.Color57: #4040c0
Tgif.Color58: #2020e0
Tgif.Color59: #0000ff
Tgif.Color60: #a0a0a0
Tgif.Color61: #c0ff00
Tgif.Color62: #a8e820
Tgif.Color63: #90d040
Tgif.Color64: #78b860
Tgif.Color65: #60a080
Tgif.Color66: #4888a0
Tgif.Color67: #3070c0
Tgif.Color68: #1858e0
Tgif.Color69: #0040ff
Tgif.Color70: #c0c0c0
Tgif.Color71: #80ff00
Tgif.Color72: #70f020
Tgif.Color73: #60e040
Tgif.Color74: #50d060
Tgif.Color75: #40c080
Tgif.Color76: #30b0a0
Tgif.Color77: #20a0c0
Tgif.Color78: #1090e0
Tgif.Color79: #0080ff
Tgif.Color80: #e0e0e0
Tgif.Color81: #40ff00
Tgif.Color82: #38f820
Tgif.Color83: #30f040
Tgif.Color84: #28e860
Tgif.Color85: #20e080
Tgif.Color86: #18d8a0
Tgif.Color87: #10d0c0
Tgif.Color88: #08c8e0
Tgif.Color89: #00c0ff
Tgif.Color90: #ffffff
Tgif.Color91: #00ff00
Tgif.Color92: #00ff20
Tgif.Color93: #00ff40
Tgif.Color94: #00ff60
Tgif.Color95: #00ff80
Tgif.Color96: #00ffa0
Tgif.Color97: #00ffc0
Tgif.Color98: #00ffe0
Tgif.Color99: #00ffff
!
Tgif.Color100: #000000
Tgif.Color101: #cc0000
Tgif.Color102: #cc0019
Tgif.Color103: #cc0033
Tgif.Color104: #cc004c
Tgif.Color105: #cc0066
Tgif.Color106: #cc0080
Tgif.Color107: #cc0099
Tgif.Color108: #cc00b3
Tgif.Color109: #cc00cc
Tgif.Color110: #191919
Tgif.Color111: #cc3300
Tgif.Color112: #c62c19
Tgif.Color113: #c02633
Tgif.Color114: #b9204c
Tgif.Color115: #b31966
Tgif.Color116: #ac1380
Tgif.Color117: #a60c99
Tgif.Color118: #a006b3
Tgif.Color119: #9900cc
Tgif.Color120: #333333
Tgif.Color121: #cc6600
Tgif.Color122: #c05919
Tgif.Color123: #b34c33
Tgif.Color124: #a6404c
Tgif.Color125: #993366
Tgif.Color126: #8c2680
Tgif.Color127: #801999
Tgif.Color128: #730cb3
Tgif.Color129: #6600cc
Tgif.Color130: #4c4c4c
Tgif.Color131: #cc9900
Tgif.Color132: #b98619
Tgif.Color133: #a67333
Tgif.Color134: #93604c
Tgif.Color135: #804c66
Tgif.Color136: #6c3980
Tgif.Color137: #592699
Tgif.Color138: #4613b3
Tgif.Color139: #3300cc
Tgif.Color140: #666666
Tgif.Color141: #cccc00
Tgif.Color142: #b3b319
Tgif.Color143: #999933
Tgif.Color144: #80804c
Tgif.Color145: #666666
Tgif.Color146: #4c4c80
Tgif.Color147: #333399
Tgif.Color148: #1919b3
Tgif.Color149: #0000cc
Tgif.Color150: #808080
Tgif.Color151: #99cc00
Tgif.Color152: #86b919
Tgif.Color153: #73a633
Tgif.Color154: #60934c
Tgif.Color155: #4c8066
Tgif.Color156: #396c80
Tgif.Color157: #265999
Tgif.Color158: #1346b3
Tgif.Color159: #0033cc
Tgif.Color160: #999999
Tgif.Color161: #66cc00
Tgif.Color162: #59c019
Tgif.Color163: #4cb333
Tgif.Color164: #40a64c
Tgif.Color165: #339966
Tgif.Color166: #268c80
Tgif.Color167: #198099
Tgif.Color168: #0c73b3
Tgif.Color169: #0066cc
Tgif.Color170: #b3b3b3
Tgif.Color171: #33cc00
Tgif.Color172: #2cc619
Tgif.Color173: #26c033
Tgif.Color174: #20b94c
Tgif.Color175: #19b366
Tgif.Color176: #13ac80
Tgif.Color177: #0ca699
Tgif.Color178: #06a0b3
Tgif.Color179: #0099cc
Tgif.Color180: #cccccc
Tgif.Color181: #00cc00
Tgif.Color182: #00cc19
Tgif.Color183: #00cc33
Tgif.Color184: #00cc4c
Tgif.Color185: #00cc66
Tgif.Color186: #00cc80
Tgif.Color187: #00cc99
Tgif.Color188: #00ccb3
Tgif.Color189: #00cccc
!
Tgif.Color190: #000000
Tgif.Color191: #7f0000
Tgif.Color192: #7f0010
Tgif.Color193: #7f0020
Tgif.Color194: #7f0030
Tgif.Color195: #7f0040
Tgif.Color196: #7f0050
Tgif.Color197: #7f0060
Tgif.Color198: #7f0070
Tgif.Color199: #7f007f
Tgif.Color200: #101010
Tgif.Color201: #7f2000
Tgif.Color202: #7c1c10
Tgif.Color203: #781820
Tgif.Color204: #741430
Tgif.Color205: #701040
Tgif.Color206: #6c0c50
Tgif.Color207: #680860
Tgif.Color208: #640470
Tgif.Color209: #60007f
Tgif.Color210: #202020
Tgif.Color211: #7f4000
Tgif.Color212: #783810
Tgif.Color213: #703020
Tgif.Color214: #682830
Tgif.Color215: #602040
Tgif.Color216: #581850
Tgif.Color217: #501060
Tgif.Color218: #480870
Tgif.Color219: #40007f
Tgif.Color220: #303030
Tgif.Color221: #7f6000
Tgif.Color222: #745410
Tgif.Color223: #684820
Tgif.Color224: #5c3c30
Tgif.Color225: #503040
Tgif.Color226: #442450
Tgif.Color227: #381860
Tgif.Color228: #2c0c70
Tgif.Color229: #20007f
Tgif.Color230: #404040
Tgif.Color231: #7f7f00
Tgif.Color232: #707010
Tgif.Color233: #606020
Tgif.Color234: #505030
Tgif.Color235: #404040
Tgif.Color236: #303050
Tgif.Color237: #202060
Tgif.Color238: #101070
Tgif.Color239: #00007f
Tgif.Color240: #505050
Tgif.Color241: #607f00
Tgif.Color242: #547410
Tgif.Color243: #486820
Tgif.Color244: #3c5c30
Tgif.Color245: #305040
Tgif.Color246: #244450
Tgif.Color247: #183860
Tgif.Color248: #0c2c70
Tgif.Color249: #00207f
Tgif.Color250: #606060
Tgif.Color251: #407f00
Tgif.Color252: #387810
Tgif.Color253: #307020
Tgif.Color254: #286830
Tgif.Color255: #206040
Tgif.Color256: #185850
Tgif.Color257: #105060
Tgif.Color258: #084870
Tgif.Color259: #00407f
Tgif.Color260: #707070
Tgif.Color261: #207f00
Tgif.Color262: #1c7c10
Tgif.Color263: #187820
Tgif.Color264: #147430
Tgif.Color265: #107040
Tgif.Color266: #0c6c50
Tgif.Color267: #086860
Tgif.Color268: #046470
Tgif.Color269: #00607f
Tgif.Color270: #7f7f7f
Tgif.Color271: #007f00
Tgif.Color272: #007f10
Tgif.Color273: #007f20
Tgif.Color274: #007f30
Tgif.Color275: #007f40
Tgif.Color276: #007f50
Tgif.Color277: #007f60
Tgif.Color278: #007f70
Tgif.Color279: #007f7f
!
Tgif.Color280: #404040
Tgif.Color281: #ff4040
Tgif.Color282: #ff4067
Tgif.Color283: #ff408d
Tgif.Color284: #ff40b4
Tgif.Color285: #ff40da
Tgif.Color286: #ff40ff
Tgif.Color287: #ff40ff
Tgif.Color288: #ff40ff
Tgif.Color289: #ff40ff
Tgif.Color290: #676767
Tgif.Color291: #ff8d40
Tgif.Color292: #ff8467
Tgif.Color293: #ff7a8d
Tgif.Color294: #ff70b4
Tgif.Color295: #ff67da
Tgif.Color296: #ff5dff
Tgif.Color297: #ff54ff
Tgif.Color298: #ff4aff
Tgif.Color299: #ff40ff
Tgif.Color300: #8d8d8d
Tgif.Color301: #ffda40
Tgif.Color302: #ffc767
Tgif.Color303: #ffb48d
Tgif.Color304: #ffa0b4
Tgif.Color305: #ff8dda
Tgif.Color306: #ff7aff
Tgif.Color307: #ff67ff
Tgif.Color308: #ed54ff
Tgif.Color309: #da40ff
Tgif.Color310: #b4b4b4
Tgif.Color311: #ffff40
Tgif.Color312: #ffff67
Tgif.Color313: #ffed8d
Tgif.Color314: #ffd0b4
Tgif.Color315: #ffb4da
Tgif.Color316: #e497ff
Tgif.Color317: #c77aff
Tgif.Color318: #aa5dff
Tgif.Color319: #8d40ff
Tgif.Color320: #dadada
Tgif.Color321: #ffff40
Tgif.Color322: #ffff67
Tgif.Color323: #ffff8d
Tgif.Color324: #ffffb4
Tgif.Color325: #dadada
Tgif.Color326: #b4b4ff
Tgif.Color327: #8d8dff
Tgif.Color328: #6767ff
Tgif.Color329: #4040ff
Tgif.Color330: #ffffff
Tgif.Color331: #ffff40
Tgif.Color332: #ffff67
Tgif.Color333: #edff8d
Tgif.Color334: #d0ffb4
Tgif.Color335: #b4ffda
Tgif.Color336: #97e4ff
Tgif.Color337: #7ac7ff
Tgif.Color338: #5daaff
Tgif.Color339: #408dff
Tgif.Color340: #ffffff
Tgif.Color341: #daff40
Tgif.Color342: #c7ff67
Tgif.Color343: #b4ff8d
Tgif.Color344: #a0ffb4
Tgif.Color345: #8dffda
Tgif.Color346: #7affff
Tgif.Color347: #67ffff
Tgif.Color348: #54edff
Tgif.Color349: #40daff
Tgif.Color350: #ffffff
Tgif.Color351: #8dff40
Tgif.Color352: #84ff67
Tgif.Color353: #7aff8d
Tgif.Color354: #70ffb4
Tgif.Color355: #67ffda
Tgif.Color356: #5dffff
Tgif.Color357: #54ffff
Tgif.Color358: #4affff
Tgif.Color359: #40ffff
Tgif.Color360: #ffffff
Tgif.Color361: #40ff40
Tgif.Color362: #40ff67
Tgif.Color363: #40ff8d
Tgif.Color364: #40ffb4
Tgif.Color365: #40ffda
Tgif.Color366: #40ffff
Tgif.Color367: #40ffff
Tgif.Color368: #40ffff
Tgif.Color369: #40ffff
!
Tgif.Color370: #808080
Tgif.Color371: #ff8080
Tgif.Color372: #ff80a7
Tgif.Color373: #ff80cd
Tgif.Color374: #ff80f4
Tgif.Color375: #ff80ff
Tgif.Color376: #ff80ff
Tgif.Color377: #ff80ff
Tgif.Color378: #ff80ff
Tgif.Color379: #ff80ff
Tgif.Color380: #a7a7a7
Tgif.Color381: #ffcd80
Tgif.Color382: #ffc4a7
Tgif.Color383: #ffbacd
Tgif.Color384: #ffb0f4
Tgif.Color385: #ffa7ff
Tgif.Color386: #ff9dff
Tgif.Color387: #ff94ff
Tgif.Color388: #ff8aff
Tgif.Color389: #ff80ff
Tgif.Color390: #cdcdcd
Tgif.Color391: #ffff80
Tgif.Color392: #ffffa7
Tgif.Color393: #fff4cd
Tgif.Color394: #ffe0f4
Tgif.Color395: #ffcdff
Tgif.Color396: #ffbaff
Tgif.Color397: #ffa7ff
Tgif.Color398: #ff94ff
Tgif.Color399: #ff80ff
Tgif.Color400: #f4f4f4
Tgif.Color401: #ffff80
Tgif.Color402: #ffffa7
Tgif.Color403: #ffffcd
Tgif.Color404: #fffff4
Tgif.Color405: #fff4ff
Tgif.Color406: #ffd7ff
Tgif.Color407: #ffbaff
Tgif.Color408: #ea9dff
Tgif.Color409: #cd80ff
Tgif.Color410: #ffffff
Tgif.Color411: #ffff80
Tgif.Color412: #ffffa7
Tgif.Color413: #ffffcd
Tgif.Color414: #fffff4
Tgif.Color415: #ffffff
Tgif.Color416: #f4f4ff
Tgif.Color417: #cdcdff
Tgif.Color418: #a7a7ff
Tgif.Color419: #8080ff
Tgif.Color420: #ffffff
Tgif.Color421: #ffff80
Tgif.Color422: #ffffa7
Tgif.Color423: #ffffcd
Tgif.Color424: #fffff4
Tgif.Color425: #f4ffff
Tgif.Color426: #d7ffff
Tgif.Color427: #baffff
Tgif.Color428: #9deaff
Tgif.Color429: #80cdff
Tgif.Color430: #ffffff
Tgif.Color431: #ffff80
Tgif.Color432: #ffffa7
Tgif.Color433: #f4ffcd
Tgif.Color434: #e0fff4
Tgif.Color435: #cdffff
Tgif.Color436: #baffff
Tgif.Color437: #a7ffff
Tgif.Color438: #94ffff
Tgif.Color439: #80ffff
Tgif.Color440: #ffffff
Tgif.Color441: #cdff80
Tgif.Color442: #c4ffa7
Tgif.Color443: #baffcd
Tgif.Color444: #b0fff4
Tgif.Color445: #a7ffff
Tgif.Color446: #9dffff
Tgif.Color447: #94ffff
Tgif.Color448: #8affff
Tgif.Color449: #80ffff
Tgif.Color450: #ffffff
Tgif.Color451: #80ff80
Tgif.Color452: #80ffa7
Tgif.Color453: #80ffcd
Tgif.Color454: #80fff4
Tgif.Color455: #80ffff
Tgif.Color456: #80ffff
Tgif.Color457: #80ffff
Tgif.Color458: #80ffff
Tgif.Color459: #80ffff
!
Tgif.Color460: #aaaaaa
Tgif.Color461: #ffaaaa
Tgif.Color462: #ffaad1
Tgif.Color463: #ffaaf7
Tgif.Color464: #ffaaff
Tgif.Color465: #ffaaff
Tgif.Color466: #ffaaff
Tgif.Color467: #ffaaff
Tgif.Color468: #ffaaff
Tgif.Color469: #ffaaff
Tgif.Color470: #d1d1d1
Tgif.Color471: #fff7aa
Tgif.Color472: #ffeed1
Tgif.Color473: #ffe4f7
Tgif.Color474: #ffdaff
Tgif.Color475: #ffd1ff
Tgif.Color476: #ffc7ff
Tgif.Color477: #ffbeff
Tgif.Color478: #ffb4ff
Tgif.Color479: #ffaaff
Tgif.Color480: #f7f7f7
Tgif.Color481: #ffffaa
Tgif.Color482: #ffffd1
Tgif.Color483: #fffff7
Tgif.Color484: #ffffff
Tgif.Color485: #fff7ff
Tgif.Color486: #ffe4ff
Tgif.Color487: #ffd1ff
Tgif.Color488: #ffbeff
Tgif.Color489: #ffaaff
Tgif.Color490: #ffffff
Tgif.Color491: #ffffaa
Tgif.Color492: #ffffd1
Tgif.Color493: #fffff7
Tgif.Color494: #ffffff
Tgif.Color495: #ffffff
Tgif.Color496: #ffffff
Tgif.Color497: #ffe4ff
Tgif.Color498: #ffc7ff
Tgif.Color499: #f7aaff
Tgif.Color500: #ffffff
Tgif.Color501: #ffffaa
Tgif.Color502: #ffffd1
Tgif.Color503: #fffff7
Tgif.Color504: #ffffff
Tgif.Color505: #ffffff
Tgif.Color506: #ffffff
Tgif.Color507: #f7f7ff
Tgif.Color508: #d1d1ff
Tgif.Color509: #aaaaff
Tgif.Color510: #ffffff
Tgif.Color511: #ffffaa
Tgif.Color512: #ffffd1
Tgif.Color513: #fffff7
Tgif.Color514: #ffffff
Tgif.Color515: #ffffff
Tgif.Color516: #ffffff
Tgif.Color517: #e4ffff
Tgif.Color518: #c7ffff
Tgif.Color519: #aaf7ff
Tgif.Color520: #ffffff
Tgif.Color521: #ffffaa
Tgif.Color522: #ffffd1
Tgif.Color523: #fffff7
Tgif.Color524: #ffffff
Tgif.Color525: #f7ffff
Tgif.Color526: #e4ffff
Tgif.Color527: #d1ffff
Tgif.Color528: #beffff
Tgif.Color529: #aaffff
Tgif.Color530: #ffffff
Tgif.Color531: #f7ffaa
Tgif.Color532: #eeffd1
Tgif.Color533: #e4fff7
Tgif.Color534: #daffff
Tgif.Color535: #d1ffff
Tgif.Color536: #c7ffff
Tgif.Color537: #beffff
Tgif.Color538: #b4ffff
Tgif.Color539: #aaffff
Tgif.Color540: #ffffff
Tgif.Color541: #aaffaa
Tgif.Color542: #aaffd1
Tgif.Color543: #aafff7
Tgif.Color544: #aaffff
Tgif.Color545: #aaffff
Tgif.Color546: #aaffff
Tgif.Color547: #aaffff
Tgif.Color548: #aaffff
Tgif.Color549: #aaffff

